a {
  color: #2d2d2d;
  text-decoration: none;
  padding-left: 10px;
  padding-right:10px;
}

a:hover{
  color: #a18cd1;
  text-decoration: underline;
  text-decoration-style: solid;
  transition-duration: 0.75s;
}
