#project{
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: inherit;
  font-size: 12px;
  max-width: 500px;
}

body{
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: inherit;
}

a{
  color:rgb(237,122,139);
  text-decoration:none;
}

a:hover{
  color:rgb(199,212,87);
  text-decoration:none;
}

@media only screen and (max-width:500px){
  #projcet{
    max-width: 100%;
  }
}
